.active__link {
    @apply text-primaryColor;
}

.show__navbar {
    display: block;
}

.booking__shadow {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.booking__border {
    border: 1px solid #ced4da;
    outline: none;
}

.container-fluid {
    @apply w-full;
}

.container {
    @apply px-[15px] max-w-full bSM:max-w-[540px] bMD:max-w-[720px] bLG:max-w-[960px] bXL:max-w-[1140px];
}