.active__link {
    @apply text-primaryColor;
}

.show__navbar {
    display: block;
}

@media screen and (max-width: 575px) {
    .container {
        @apply max-w-full; /* important */
    }
}

/* Booking */

.booking__shadow {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.booking__border {
    border: 1px solid #ced4da;
    outline: none;
}

/* Destination */

.destination-item img {
    transition: .5s;
}

.destination-item:hover img {
    transform: scale(1.3);
}

.destination-overlay {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.5);
    transition: .5s;
    z-index: 1;
}

.destination-item:hover .destination-overlay {
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    border-width: 30px;
}

/* Services */

.service-item {
    transition: .5s;
}

.service-item:hover {
    box-shadow: 0 0 30px #CCCCCC;
}

.service-item i {
    width: 75px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #7AB730;
    background: #FFFFFF;
    color: #7AB730;
    transition: .5s;
}

.service-item:hover i {
    background: #7AB730;
    color: #FFFFFF;
}