.active__link {
    @apply text-primaryColor;
}

.show__navbar {
    display: block;
}

.carousel_img {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
}