@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
.root,
#root,
#docs-root {
  --blue-color: #007bff;
  --indigo-color: #6610f2;
  --purple-color: #6f42c1;
  --pink-color: #e83e8c;
  --red-color: #dc3545;
  --orange-color: #fd7e14;
  --yellow-color: #ffc107;
  --green-color: #28a745;
  --teal-color: #20c997;
  --cyan-color: #17a2b8;
  --white-color: #fff;
  --gray-color: #6c757d;
  --gray-dark-color: #343a40;
  --primary-color: #7AB730;
  --primary-dark-color: #527a20;
  --secondary-color: #f4faec;
  --success-color: #28a745;
  --info-color: #17a2b8;
  --warning-color: #ffc107;
  --danger-color: #dc3545;
  --light-color: #FFFFFF;
  --dark-color: #212121;
  --hover-light: #f8f9fa;
  --background-light-black: #00000080;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #F3F3F3;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
  text-decoration: none;
  border: none;
  outline: none;
}

